<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_RichChannelService" />
                <binding name="BasicHttpBinding_RichChannelService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pde14web.qa.mcom.co.nz/RichChannelWS/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RichChannelService"
                contract="ServiceReference1.RichChannelService" name="BasicHttpBinding_RichChannelService" />
            <endpoint address="http://pde14web.qa.mcom.co.nz/RichChannelWS/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RichChannelService1"
                contract="ServiceReference2.RichChannelService" name="BasicHttpBinding_RichChannelService1" />
        </client>
    </system.serviceModel>
</configuration>